/* /src/assets/styles.css */

:root {
  --primary-color: #3c3c3c;
  --secondary-color: #ff9999;
  --background-color: #f4f4f4;
  --text-color: #333;
  --white-color: #fff;


  --font-size-small: 0.8em;
  --font-size-medium: 1em;
  --font-size-large: 1.2em;
  --font-size-xlarge: 2em;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 20px;

  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --fade-in: fadeIn 1s ease-in-out;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

header {
  background: var(--primary-color);
  color: var(--white-color);
  padding: var(--spacing-large) 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: var(--font-size-xlarge);
}

header p {
  margin: var(--spacing-small) 0 0;
  font-size: var(--font-size-large);
}

.nav-tabs {
  border-bottom: 2px solid var(--secondary-color);
}

.nav-tabs .nav-item .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color: var(--text-color);
}



.nav-tabs .nav-item .nav-link.active {
  color: var(--white-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color) var(--primary-color) var(--white-color);
}

.tab-content {
  background-color: var(--white-color);
  border-top: none;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
  margin-top: 20px;
}

.table th,
.table td {
  text-align: center;
}

.table thead th {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(60, 60, 60, 0.05);
}

.table-hover tbody tr:hover {
  background-color: rgba(60, 60, 60, 0.1);
}

.nav-tabs {
  border-bottom: 2px solid var(--primary-color) !important;
}

.nav-link {
  padding: 15px !important;
  border: 0 !important;
}

.btn {

  background-color: var(--primary-color) !important;
  color: var(--white-color) !important;

}

footer {
  text-align: center;
  padding: var(--spacing-small) 0;
  background: var(--primary-color);
  color: var(--white-color);
}
